.createToDo {
    align-items:center;
    background-color:#61dafa;
    box-shadow:0 5px 25px rgba(97,218,250,.5);
    border:none;
    border-radius:50%;
    bottom:24px;
    color:#fafafa;
    cursor:pointer;
    display:flex;
    font-size:50px;
    font-weight:700;
    height:64px;
    justify-content:center;
    position:fixed;
    right:24px;
    transform:rotate(0);
    transition:.3s ease;
    width:64px;
    z-index: 1;
}

.createToDo:hover {
    transform:rotate(180deg);
}